<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,516},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,966},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,832},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,878},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,914},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,878},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,914},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,806},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,806},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,888},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,966},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blink_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,888},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,888},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,970},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,970},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,806},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,838},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,838},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,59}}</string>
                <key>sourceSize</key>
                <string>{104,59}</string>
            </dict>
            <key>button_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,836},{62,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{62,38}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,806},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,838},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{108,60}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,838},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{122,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,12}}</string>
                <key>sourceSize</key>
                <string>{122,12}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medals_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,832},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,914},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,914},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,900},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,888},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,900},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{16,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,888},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,888},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,944},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,944},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>number_context_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,964},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,970},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{6,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1000},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1000},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1000},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,948},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,948},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1002},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1002},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_score_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,950},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,888},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,950},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,950},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,900},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,920},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,948},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,948},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,948},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,948},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>pipe2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,970},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>text_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,836},{192,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,50}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,970},{184,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{184,52}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,920},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,854},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,914},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Image.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d4d2580962be8bda6cfad79e23a816:3e71fd7aff3aa02ed0845efc024b5c44:128161d0004623e2387336d9aef4704c$</string>
            <key>textureFileName</key>
            <string>Image.png</string>
        </dict>
    </dict>
</plist>
